body {
	margin: 0;
	/overflow: hidden;
	font-family: 'Dosis', 'Montserrat', Verdana;
}
.page {
	padding: 20px;
}
.index .page {
	background: rgba(0, 0, 0, .3);
}
.panel-choice {
	display: flex;
	text-align: center;
	align-items: center;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	flex-flow: column;
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: rgba(233, 236, 239, .4);
	border-radius: .3rem;
	transition: all .3s;
}
.panel-choice:hover, .panel-choice:focus {
	background-color: rgba(233, 236, 239, .7);
}
.panel-choice li {
	margin-bottom: 1.5em;
}
.page-header {
	display: flex;
	flex-direction: row;
	font-size: 2em;
	margin: 0 auto;
	justify-content: space-around;

	text-align: center;
	position: fixed;
	z-index: 99;
	right: 0;
	padding: 20px;
	left: 0;
	top: 0;
	width: 100%;
	background: snow;
}
.page-title {
    /font-size: 2em;
    margin: 0 auto;
    text-align: center;
    color: #020133;
}
.page-title {
	font-size: 2.5rem;
	order: 1;
}
.index-link{
	order: 0;
}
.room-links {
	order: 2;
}
.direction {
	margin-top: 95px;
	text-align: center;
	font-family: Montserrat, sans-serif;
	margin-bottom: 20px;
}
.btn-room, .sendMsg input[type=submit] {
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 1.3em;
    border-radius: .25rem;
    transition: all .2s;
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    transition: all .2s;
}
.btn-room:hover, .btn-room:focus {
	transform: scale(1.1);
	opacity: .8;
}
#messages {
	height: calc(88vh - 80px);
	overflow-y: scroll;
	padding: 10px;
	margin-top: 80px;
	background-image: url('/img/whatsapp-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
form {
	display: flex;
	font-family: Helvetica;
}

/*Register*/
.register {
	margin: ;
}


.msgTextbox {
	font-size: 1.2rem;
	padding: 10px;
	margin: 10px 5px;
	appearance: none;
	-webkit-appearance: none;
	border: thin solid #020133;
	border-radius: 5px;
}
.msgTextbox {
	flex: 2;
	/*set to autofocus in HTML which is repsonsible for bringing the app into view, even if 
	there is other content before it*/
}
.sendMsg button {
	font-size: 1.2rem;
    padding: 10px;
    margin: 10px 5px;
    appearance: none;
    -webkit-appearance: none;
    border: thin solid rgba(0,0,0,.2);
    border-radius: 5px;
}
.joined {
	margin: 0 auto;
	color: #070b17;
	padding: 3px 10px;
	text-align: center;
}
.joined > span {
	display: inline-block;
	background : rgba(159, 192, 228, 0.4);
	font-size: 1.1em;
	padding: 5px 5px;	
	border: thin rgba(255,255,255,.3) solid;	
	text-shadow: 1px 1px 1px rgba(255,255,255,.3);
}
.msg {
	background-color: #82bf9d;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: .8em;
	font-size: 1.2em;
	width: fit-content;
	display: block;
	max-width: 30%;
}
.msg p {
	margin: 0;
	font-weight: bold;
}
.msg span {
	font-size: 1.1rem;
	margin-left: 15px;
}
.other-user {
	font-size: 1.2em !important;
	font-weight: bold;
	opacity: .8;
	margin-left: 0 !important;
	text-transform: uppercase;
}

/*Dialogue Form*/
.prompt-modal-bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
	justify-content: center;
	align-items: center;
	display: flex;
	transition: visibility 0s, opacity 0.5s;
	z-index: 100;
}
.bg-active {
	visibility : hidden;
	opacity: 0;
}
.prompt-modal {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(255,255,255,9);
	width: 45%;
	height: 45%;
	padding: 5%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	box-shadow: rgb(58,58,58) 1px 1px 5px;
	border: 2px solid #2980b9;
}
.moniker {
	margin-bottom: 25px;
	border-radius: 0;
}
.moniker:hover, .moniker:focus {
	border: thin solid #020133 !important;
	outline: 0;
}
.prompt-modal button {
	padding: 10px 30px;
	background-color: #2980b9;
	color: #fff;
	border: none;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
}
